<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>



<h1>Books</h1>



<table width="800">
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th></th>
        </tr>
    <% @reviews.each do |review| %>
        <tr>
            <td><%= review.title %></td>
            <td><%= review.body %></td>
            <td><%= link_to "Show", review_path(review), class:"show_#{review.id} ", id: "mover1" %>
                <%= link_to "Edit", edit_review_path(review), class:"edit_#{review.id} ", id: "mover2" %>
                <%= link_to "Destroy", review_path(review), method: :delete,  data: { confirm: '削除しますか？' }, class:"destroy_#{review.id} ", id: "mover3" %>
            </td>
        </tr>
    <% end %>
</table>




<h2> New book</h2>

<%= form_for(@review) do |f| %>

	<p>Title</p>
    <%= f.text_field :title, class:"book_title" %>
 
    <p>Body</p>
    <%= f.text_area :body, class:"book_body" %>
 
    <p><%= f.submit 'Create Book' %></p>
 
<% end %>